@*Gives the option to show the available products to manage them. This can be either globally or for one restaurant.
    Authors: Dennis Ludwig, Dennis Keles, Sheng Jing Ly*@


@model List<WaiterQR.Database.Product>

@{
    ViewBag.Title = "ShowProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowProducts</h2>
@if (ViewBag.RestaurantName != null)
{
    <h2> of Restaurant @ViewBag.RestaurantName</h2>
}

<!DOCTYPE html>

<html>
<head>
    <style>
        table {
            width: 100%;
        }

        td, th {
            text-align: center;
            padding: 15px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <button class="btn btn-dark">
        @Html.ActionLink("Add Product", "AddProduct", "Product")
    </button>
    <table>
        <tr>
            <th>Image</th>
            <th>Restaurant</th>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>




        </tr>
        @foreach (var item in Model)
        {

            <tr>
                @{var imgSrc = String.Format("data:image/gif;base64,{0}", item.ImagePath); }
                <td><img src="@imgSrc" width="100" height="100" /></td>
                <td>
                    @if (ViewBag.RestaurantName != null)
                    {
                        <p>@ViewBag.RestaurantName</p>
                    }
                    else
                    {
                        <p>@item.RestaurantID</p>
                    }
                </td>
                <td> @item.ProductName </td>
                <td> @item.ProductDescription </td>
                <td> @item.ProductPrice</td>

                @*<td><img src="@Url.Content(item.ImagePath)" width="50" height="50" /></td>*@


                <td>
                    <button class="btn btn-dark">
                        @Html.ActionLink("Edit Product", "EditProduct", "Product", new { item.ProductID }, null)
                    </button>
                </td>
                <td>
                    <button class="btn btn-dark">
                        @Html.ActionLink("Delete Product", "DeleteProduct", "Product", new { item.ProductID }, null)
                    </button>
                </td>
            </tr>
        }

    </table>

</body>
</html>