@model List<WaiterQR.Database.Product>

@{
    ViewBag.Title = "ShowProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowProduct</h2>

<!DOCTYPE html>

<html>
<head>
    <style>
        table {
            width: 100%;
        }

        td, th {
            text-align: center;
            padding: 15px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>
            <th>Restaurant</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.ProductName </td>
                <td> @item.ProductDescription </td>
                <td> @item.ProductPrice</td>
                <td> @item.RestaurantID</td>
                <td>@Html.ActionLink("Edit Product", "EditProduct", "Product", new { item.ProductID }, null)</td>
                <td></td>
            </tr>
        }

    </table>

</body>
</html>