@model  List<WaiterQR.Database.Restaurant>

@{
    ViewBag.Title = "ShowRestaurant";
}

<h2>ShowRestaurant</h2>

<!DOCTYPE html>

<html>
<head>
    <style>
        table {
            width: 100%;
        }

        td, th {
            text-align: center;
            padding: 15px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Restaurant</th>
        <th>Owner</th>
        <th>Ort</th>
        <th>Haus</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td> @item.RestaurantID </td>
    <td> @item.OwnerID </td>
    <td> @item.RestaurantPostalCode, @item.Restaurant_City</td>
    <td> @item.Restaurant_StreetName, @item.Restaurant_HouseNo</td>
    <td>@Html.ActionLink("Edit Restaurant", "EditRestaurant", "Restaurant", new {item.RestaurantID},null)</td>
</tr>
    }

</table>

</body>
</html>