@model  List<WaiterQR.Database.Restaurant>

@{
    ViewBag.Title = "ShowRestaurant";
}

<h2>ShowRestaurant</h2>

<!DOCTYPE html>

<html>
<head>
    <style>
        table {
            width: 100%;
        }

        td, th {
            text-align: center;
            padding: 15px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Capacity</th>
        <th>Owner</th>
        <th>Location</th>
        <th>House</th>
  
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td> @item.ID </td>
    <td> @item.Name </td>
    <td> @item.Description </td>
    <td> @item.TableAmount </td>
    <td> @item.OwnerID </td>
    <td> @item.PostalCode, @item.City</td>
    <td> @item.StreetName, @item.HouseNo</td>
    <td>@Html.ActionLink("Edit Restaurant", "EditRestaurant", "Restaurant", new { restaurantid = item.ID }, null)</td>
    <td>@Html.ActionLink("Show Tables", "ShowRestarauntTable", "RestaurantTable", new { restaurantid = item.ID }, null)</td>
</tr>
    }

</table>

</body>
</html>