@model WaiterQR.Models.MenuViewModel
@{
    ViewBag.Title = "ShowMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowMenu</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productList.FirstOrDefault().RestaurantID)
        </th>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productList.FirstOrDefault().ProductName) &
            @Html.DisplayNameFor(model => model.productList.FirstOrDefault().ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productList.FirstOrDefault().ProductPrice)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.productList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantID)
            </td>
            @{var imgSrc = String.Format("data:image/gif;base64,{0}", item.ImagePath); }
            <td><img src="@imgSrc" width="100" height="100" /></td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
                <p>@Html.DisplayFor(modelItem => item.ProductDescription)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>

            <td>
                <button class="btn btn-dark">
                    @Html.ActionLink("Add To Basket", "AddShoppingCart", "ShoppingCart", new { productid = item.ProductID, tableid = Model.restaurantTable.ID }, null)
                </button>
            </td>
        </tr>
    }
</table>
